.yycountdown-box{
  text-align:center;
  margin:10px 0;
  font-size: 90px;
  color:#AA0000;
}
.centered_div {
   width: Xu;
   height: Yu;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -(X/2)u;
   margin-top: -(Y/2)u;
}
.center {
    position: absolute;
    width: 600px;
    height: 30px;
    top: 50%;
    left: 50%;
    margin-left: -300px; /* margin is -0.5 * dimension */
    margin-top: -40px; 
}​